= nested_form_for @trip do |f|
  - if @trip.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this flight_fix from being saved:"
      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Destination Name"
    = f.text_field :name, placeholder: "i.e. Chicago"

  %h4 Flights (minimum 1)
  =f.fields_for :flights do |t|
    .flight-add-box
      .field
        =t.label "Flight Airline"
        =t.select :airline_id, options_from_collection_for_select(@airlines, 'id', 'name')
      .field
        =t.label "Depart Airport"
        =t.autocomplete_field :depart_airport, autocomplete_airport_city_trips_path
      .field.field-time
        =t.label "Depart Time (mm/dd/year)"
        =t.text_field :depart_time, class: "date_picker"
      .field
        =t.label "Arrival Airport"
        =t.autocomplete_field :arrival_airport, autocomplete_airport_city_trips_path
      .field.field-time
        =t.label "Arrival Time (mm/dd/year)"
        =t.text_field :arrival_time, class: "date_picker"
      .field.remove-flight-link
        =t.link_to_remove "Remove this Flight"

  %p= f.link_to_add "Add Another Flight", :flights
  .actions
    = f.submit 'Add New Trip'
