#highlightModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
		%h3#coverModalLabel Add a Trip Memory/Highlight
	.modal-body
		= form_for @highlight do |f|
			- if @highlight.errors.any?
				#error_explanation
					%h2= "#{pluralize(@highlight.errors.count, "error")} prohibited this highlight from being saved:"
					%ul
						- @highlight.errors.full_messages.each do |msg|
							%li= msg
			=f.hidden_field :trip_id, value: @trip.id
			=f.hidden_field :user_id, value: current_user.id
			.field
				= f.label :category_id
				= f.number_field :category_id
			.field
				= f.label :name
				= f.text_field :name
			.field
				= f.label :description
				= f.text_area :description
			%button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
			%button
				= f.submit 'Add Highlight'