.trip-bg.text-center{style: "background:url('#{@cover}');"}
	-if @user_check
		%a.edit-link#cover-edit{"data-toggle" => "modal", :href => "#coverModal", :role => "button"} (Edit Cover Photo)
	.clearfix
	=render "trip_cover"
	#timeframe
		%h3
			=@arrive.strftime("%b %d")
			to
			="#{@depart.strftime("%b %d")},"
			=@depart.strftime("%Y")
	-if @user_check
		%a.edit-link#name-edit{"data-toggle" => "modal", :href => "#nameModal", :role => "button"} (Edit Trip Name)
.container
	.content
		.row
			.span12
				#trip-description
					=render "trip_description"
		-if @trip.highlights.count < 1 && @user_check
			.block-big.pull-left	
				%a#hl-edit{"data-toggle" => "modal", :href => "#highlightModal", :role => "button"}
					.trip-area-light.text-center.dotted-box 
						%h3 Add Trip Highlights
						=image_tag("insta.png")
						%p Add specific memories that highlight your great trip
		-elsif @trip.highlights.count > 0
			.block-big.pull-left
				.trip-area-dark.text-center
					%h3 Trip Highlights
					-if @user_check
						%a#highlight-edit.yellow-btn{"data-toggle" => "modal", :href => "#highlightModal", :role => "button"}
							+ add
					-@trip.highlights.each_with_index do |highlight, index|
						-if index < 5
							.highlight-row
								.pull-left
									%p.text-left=highlight.name
								.pull-left
									%p.text-left= link_to 'remove', highlight, :method => :delete, :data => { :confirm => 'Are you sure?' }
								.clearfix
		
		-if @trip.mates.count < 1 && @user_check
			.pull-left.block-small
				%a#m-edit{"data-toggle" => "modal", :href => "#mateModal", :role => "button"} 
					.trip-area-light.text-center.dotted-box
						%h3 Add Trip Mates
						=image_tag("insta.png")
						%p Add and invite the people you shared this trip with
		-elsif @trip.mates.count > 0
			.pull-left.block-small
				.trip-area-light.text-center
					%h3 Trip Mates
					-if @user_check
						%a#highlight-edit.yellow-btn{"data-toggle" => "modal", :href => "#mateModal", :role => "button"}
							+ add
					-@trip.mates.each_with_index do |mate, index|
						-if index < 6
							.highlight-row
								.pull-left
									%p.text-left=mate.name
								.pull-left
									%p.text-left= link_to 'remove', mate, :method => :delete, :data => { :confirm => 'Are you sure?' }
								.clearfix
		-if @trip.places.count < 1 && @user_check
			.pull-left.block-small
				%a#p-edit{"data-toggle" => "modal", :href => "#placeModal", :role => "button"} 
					.trip-area-light.text-center.dotted-box
						%h3 Add Trip Places
						=image_tag("insta.png")
						%p Add the places you have been on the trip. This can include cities, restaurants, hotels, or anything important to you.
		-elsif @trip.places.count > 0
			.pull-left.block-small
				.trip-area-light.text-center
					%h3 Trip Places
					-if @user_check
						%a#highlight-edit.yellow-btn{"data-toggle" => "modal", :href => "#placeModal", :role => "button"}
							+ add
					-@trip.places.each_with_index do |place, index|
						-if index < 6
							.highlight-row
								.pull-left
									%p.text-left=place.location
								.pull-left
									%p.text-left= link_to 'remove', place, :method => :delete, :data => { :confirm => 'Are you sure?' }
								.clearfix			
		
		-if @user_check == true && @twitter_check == false
			.pull-left.block-small
				= link_to user_omniauth_authorize_path(:twitter) do
					.trip-area-light.text-center.dotted-box
						%h3 Add Your Trip Tweets
						=image_tag("insta.png")
						%p Add my Tweets from this trip with one click
		-elsif @twitter_check == true && @tweets.count > 0
			.pull-left.block-small
				.trip-area-light.text-center
					%h3 Trip Tweets
					.insta-frame
						-@tweets.each_with_index do |tweet, index|
							- if index < 2
								.pull-left.insta-thumb
									=tweet.text
		
		-if @user_check == true && @auth_check == false
			.pull-left.block-big
				= link_to user_omniauth_authorize_path(:instagram) do
					.trip-area-light.text-center.dotted-box
						%h3 Trip Instagrams
						=image_tag("insta.png")
						%p Add my Instagrams from this trip with one click
		-elsif @auth_check
			- if @instagram_photos.count > 0
				.pull-left.block-big
					.trip-area-light.text-center
						%h3 Trip Instagrams
						.insta-frame
							-@instas.each_with_index do |insta, index|
								- if index < 6
									=link_to insta, { :class => "instarange", :rel => "instarange#{@trip.id}" } do
										.pull-left
											.insta-thumb
												=image_tag(insta)
						-if @instas.count >6
							.instagram-photos
								=link_to @instas[6], { :class => "instarange", :rel => "instarange#{@trip.id}" } do
									=image_tag("insta.png")
									View More Photos
						.clearfix
		-if @user_check == true && @facebook_check == false
			.pull-left.block-small
				= link_to user_omniauth_authorize_path(:facebook) do
					.trip-area-light.text-center.dotted-box
						%h3 Add Your Trip Facebook Posts
						=image_tag("insta.png")
						%p Add my FB Posts from this trip with one click
		-elsif @facebook_check == true && @statuses.count > 0
			.pull-left.block-small
				.trip-area-light.text-center
					%h3 Trip Facebook Posts
					.insta-frame
						-@statuses.each_with_index do |post, index|
							- if index < 2
								.pull-left.insta-thumb
									=post.story
		-elsif @facebook_check == true && @statuses.count < 1 && @user_check
			.pull-left.block-small
				.trip-area-light.text-center
					%p You have no facebook posts for this trips timeframe
		.clearfix
		
		.row
			.span6
				.trip-area-light.text-center
					%h3 Flight Details
					-@trip.flights.each do |flight|
						.flight-row										
							.flight-date.pull-left
								=image_tag "plane.png", style: "max-width:20px;margin-right:8px;"
								=flight.depart_time.strftime("%b %e")
							.flight-airports.pull-left
								=Airport.find(flight.depart_airport).faa.upcase
								to
								=Airport.find(flight.arrival_airport).faa.upcase
							.flight-meta.pull-left
								=Airline.find(flight.airline_id).name
							.clearfix
			.span6
				.trip-area-light.text-center
					%h3 Trip Statistics
					%p
						Length of Stay: 
						8
					%p
						Number of Times Visited: 
						4
					%p
						Left of a 
						Friday
						Came back on a 
						Tuesday
-if @user_check
	=render "cover_modal"
	=render "highlight_modal"
	=render "destination_modal"
	=render "mate_modal"
	=render "description_modal"
	=render "place_modal"