-if @user.created_at > 5.minutes.ago
	=render 'loading'

.travel-map{:style => "width: 100%;"}
	#map{:style => "width: 100%; height: 400px;"}
.container
	.content
		.row
			.span12
				.user-image.pull-left.user-circle{style: "background: url('#{@user.avatar.url}');background-size: cover;"}
					
				.main-stats
					.pull-left
						%h1{style:"margin-left: 185px;"}
							=@user.name.titlecase
					.pull-left
						.full-screen
							=link_to "Full Screen Map", "Javascript:" 
					.top-stats.pull-right
						.top-stat.pull-left.top-stat-left
							%h5.text-center
								TRIPS
								%br
								%span=@trips.count
						.top-stat.pull-left
							%h5.text-center
								FLIGHTS
								%br
								%span=@flights.count
						.top-stat.pull-left
							%h5.text-center
								COUNTRIES
								%br
								%span=@destination_countries.count
						.top-stat.pull-left
							%h5.text-center
								CITIES
								%br
								%span=@destinations_cities.count
					.clearfix
				.clearfix
				.more-stats.hide
					.stat-column-odd.pull-left
						%h5 Destinations
						.hr
						-@destinations_cities.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Countries
						.hr
						-@destination_countries.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-odd.pull-left
						%h5 Trip Origin
						.hr
						-@origins.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Trips by Year
						.hr
						-@by_year.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-odd.pull-left
						%h5 Trips by Month
						.hr
						-@by_month.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Trip Starts On
						.hr
						-@by_day_of_week_leave.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr

						%h5 Trip Ends On
						.hr
						-@by_day_of_week_return.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr

					.stat-column-odd.pull-left
						%h5 Airlines
						.hr
						-@airlines.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.clearfix
				.more-or-less-stats.text-center
					=link_to "more stats", "Javascript:" 
								
				-@trips_by_month.each do |monthname, trips|
					.year-header
						%h2=monthname
					.container.year-spacer
						.row
							-trips.each do |trip|
								.span4
									.flip-container.text-center
										.flipper
											- destination = destination_city(trip)
											.front{style: "background: url('#{destination.avatar.url}');background-size: cover;"}
												.front-overlay
													%h3
														=destination.city
													%h4
														in
														=trip.flights.first.depart_time.strftime("%B")

													%h5
														&#9679;
														="#{days_visited(trip)} days"
														&#9679;

											.back
												%h3=destination.city
												.trip-date-range
													%b=trip.flights.first.depart_time.strftime("%B %e")
													to 
													%b=trip.flights.last.arrival_time.strftime("%B %e")
												.hr
												.back-flights
													-trip.flights.each do |flight|
														.flight-row										
															.flight-date.pull-left
																=image_tag "plane.png", style: "max-width:20px;margin-right:8px;"
																=flight.depart_time.strftime("%b %e")
															.flight-airports.pull-left
																=Airport.find(flight.depart_airport).faa.upcase
																to
																=Airport.find(flight.arrival_airport).faa.upcase
															.flight-meta.pull-left
																=Airline.find(flight.airline_id).name
															.clearfix
														.hr
											
.unfull-screen
	=link_to "(X) Click to Close Full Screen", "Javascript:"

=render "map_code"