.travel-map{:style => "width: 100%;"}
	#map{:style => "width: 100%; height: 400px;"}
.container
	.content
		.row
			.span12
				.user-image.pull-left
					=image_tag("user.png")
				.main-stats.pull-left
					.stat-column.pull-left
						%h1=current_user.name.titlecase
					.pull-left
						%h5.text-center
							TRIPS
							%br
							%span=@trips.count
					.pull-left
						%h5.text-center
							FLIGHTS
							%br
							%span=@flights.count
					.pull-left
						%h5.text-center
							COUNTRIES
							%br
							%span=@destination_countries.count
					.pull-left
						%h5.text-center
							CITIES
							%br
							%span=@destinations_cities.count
					.clearfix
				.clearfix
				.more-stats.hide
					.stat-column-odd.pull-left
						%h5 Destination Cities
						.hr
						-@destinations_cities.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Countries
						.hr
						-@destination_countries.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-odd.pull-left
						%h5 Trip Origin
						.hr
						-@origins.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Trips by Year
						.hr
						-@by_year.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-odd.pull-left
						%h5 Trips by Month
						.hr
						-@by_month.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-even.pull-left
						%h5 Trip Starts On
						.hr
						-@by_day_of_week_leave.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.stat-column-odd.pull-left
						%h5 Trip Ends On
						.hr
						-@by_day_of_week_return.each do |d|
							.stat-row
								="#{d[0]} (#{d[1]})"
							.hr
					.clearfix
				.more-or-less-stats.text-center
					=link_to "more stats", "Javascript:" 
								
				-@trips_by_month.each do |monthname, trips|
					.year-header
						%h2=monthname
					.container
						.row
							-trips.each do |trip|
								.span4
									.flip-container.text-center
										.flipper
											.front{style: "background: url('#{image_path "sydney.jpg"}');background-size: cover;"}
												- destination = destination_city(trip)
												%h3
													=destination
												in
												%b=trip.flights.first.depart_time.strftime("%B")

												%p
													%b="#{days_visited(trip)} days"

											.back
												%h3=destination
												.trip-date-range
													%b=trip.flights.first.depart_time.strftime("%B %e")
													to 
													%b=trip.flights.last.arrival_time.strftime("%B %e")
												.hr
												.back-flights
													-trip.flights.each do |flight|
														.flight-row										
															.flight-date.pull-left
																=image_tag "plane.png", style: "max-width:20px;margin-right:8px;"
																=flight.depart_time.strftime("%b %e")
															.flight-airports.pull-left
																=Airport.find(flight.depart_airport).faa.upcase
																to
																=Airport.find(flight.arrival_airport).faa.upcase
															.flight-meta.pull-left
																9 hours
															.clearfix
														.hr
											

=render "map_code"