<h1>Map your entire travel history with just one click.</h1>
<p>Map, track, & sort your past & future travel without inputting anything.</p>
<%= link_to "Auth Me", auth_connect_path , method: :post %>
<%= form_for(:user, :as => :user, :url => registration_path(:user)) do |f| %>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= button_tag :type => :submit do %>
    Sign up
  <% end %>
<% end %>
