= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg


  = f.hidden_field :trip_id, value: @trip.id
  = f.hidden_field :user_id, value: current_user.id
  .field
    = f.label "Your Place/Destination"
    = f.text_field :location, placeholder: "ex: Yellow Stone Park"
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
  %button
    = f.submit 'Add Place'
